body {
  background: #f8f9fa;
  background-image: url(/assets/photos/back.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60%;
}

video {
  max-height: 240px;
  background: #000;
}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
}
